@font-face {
    font-family: 'font-digital-custom';
    src: url(digital-font.ttf) format("truetype");
}

.calc-container {
    margin-top: 24px;
    margin-bottom: 100px;
    font-family: font-digital-custom;
}

.input-field {
    font-size: 34px;
    font-family: font-digital-custom;
    display: block;
    text-align: center;
    /*min-height: 50px;*/
    /*padding-top: 10px;*/
    position: relative;
}
.input-field::after {
    display: block;
    content: '000000000';
    text-align: right;
    right: 0;
    top: 0;
}
.resolve-button {
    font-size: 30px;
    width: 100%;
    /*font-style: italic;*/
    font-family: font-digital-custom;
    border: none;
    display: block;
    padding: 10px 32px 7px;
    margin-top: 8px;
    border-radius: 16px;
    background-color: #0078b6;
    color: white;
}
.output {
    text-align: right;
    width: 100%;
    padding: 8px;
    font-size: 60px;
}
